In [3]:
import numpy as np
import pandas as pd
import requests

data_dir = "../Data/"

# CROSSWALK: CPS ID to NCES ID
r = requests.get("https://data.cityofchicago.org/resource/c7jj-qjvh.json")
cps_cw_json = r.json()
cps_cw = pd.DataFrame.from_dict(cps_cw_json, orient='columns')
cps_cw.rename(columns = {'nces_id':'ncessch_num'}, inplace = True)

In [12]:
pd.set_option("display.max_rows", 45)
#cps_cw[["schoolid","fullname","isbe_id","oracleid"]]
x = cps_cw.loc[cps_cw['fullname'].str.contains("christopher", case=False)]
x.columns
x[["schoolid","fullname","isbe_id","oracleid","ncessch_num"]]

,schoolid,fullname,isbe_id,oracleid,ncessch_num
28,400159,Christopher Charter House ES,NaN,NaN,NaN
50,609863,Christopher Columbus Elementary School,150162990252138,22791.0,170993000669
545,609855,Walter S Christopher Elementary School,150162990252904,30031.0,170993004376